<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary 
flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" href="#">Hitachi Weather Report
    <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/searchhistory'" routerLinkActive="router-link-active" >Search History</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 20px">
<router-outlet></router-outlet>
</div>